*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  text-align: center;
}

#container{
  background: grey;
  margin: 15px;
  padding: 15px;
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.book{
  width: calc(100% / 6 - 20px);
  height: 250px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background-image: url("../img/copertina.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book > .title{
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 700;
}
.book > .author{
  text-align: center;
  color: white;
  font-size: 14px;
}
.book > .year{
  color: white;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.add{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
#add-button, #search-button{
  padding: 10px;
}
.input, #input-search{
  padding: 10px;
  margin: 10px 0;
}

.search{
  text-align: center;
}

@media screen and (max-width: 900px) {
  .book{
    width: calc(100% / 4 - 20px);
    height: 250px;
}

@media screen and (max-width: 500px) {
  .book{
    width: calc(100% / 2 - 20px);
    height: 210px;
}
